* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all 0.5s;
}


ul {
  list-style: none;
}

/* header css */

.header-container {
  max-width: 1024px !important;
  background-color: black;
}

.header-img {
  width: 180px !important;
}

/* header css */

/* main css */

main {
  max-width: 1024px;
}

.about-img {
  width: 50px;
}

.custom-btn {
  border-radius: 10px;
  padding: 15px 25px;
  color: white;
  background-color: black;
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 0.5s;
}

.custom-btn:hover {
  border: 1px solid black;
  color: black;
  background-color: transparent;
}

.Olem-business-para {
  text-align: justify;
}

/* main css */

/* footer css */

footer {
  max-width: 1024px !important;
}

.footer-list {
  list-style: none;
  gap: 150px;
}

.footer-img {
  width: 30px;
}

/* footer css */


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all 0.5s;
}

/* header css */

.header-container {
  max-width: 1024px !important;
  background-color: black;
}

/* header css */

/* main css */

main {
  max-width: 1024px !important;
}

.about-img {
  width: 50px;
}

.custom-btn {
  border-radius: 10px;
  padding: 15px 25px;
  color: white;
  background-color: black;
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 0.5s;
}

.custom-btn:hover {
  border: 1px solid black;
  color: black;
  background-color: transparent;
}

.Olem-business-para {
  text-align: justify;
}

/* main css */

/* footer css */


footer {
  max-width: 1024px !important;
  height: 80px;
}

.footer-list {
  list-style: none;
  gap: 150px;
}

.footer-img {
  width: 30px;
}

/* footer css */

/* product css */

.product-container {
  max-width: 1024px !important;
  margin-top: 100px;
}

/* product css */

/* team css */

.team-container {
  margin-top: 200px;
  max-width: 1024px !important;
}

/* team css */

/* me css */

.me-container {
  max-width: 1024px !important;
  margin-top: 150px;
}

.custom-btn-logOut {
  border-radius: 10px;
  padding: 15px 25px;
  color: white;
  background-color: black;
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 0.5s;
}

.custom-btn-logOut:hover {
  border: 1px solid black;
  color: #000;
  background-color: #fff2f2;
}

/* product wallet button css */

.custom-wallet-btn {
  border-radius: 10px;
  padding: 15px 80px;
  color: white;
  background-color: black;
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 0.5s;
}

.custom-wallet-btn:hover {
  border: 1px solid black;
  color: black;
  background-color: transparent;
}

/* product wallet button css */

/* wallet css */

.wallet-container {
  margin-top: 150px;
}

/* wallet css */

/* transaction css */

.transactions-container {
  margin-top: 120px;
  background-color: #fff2f2;
}

/* transaction css */

/* mybankaccount-container css */

.mybankaccount-container {
  margin-top: 120px;
}

.form-control {
  border: 1px solid black !important;
  border-radius: 0px !important;
  padding: 10px 0px;
}

.form-control::placeholder {
  color: #000 !important;
}

/* mybankaccount-container css */

/* myorder css */

.myorder-container {
  margin-top: 150px;
}

.custom-get-btn {
  border-radius: 10px;
  padding: 15px 100px;
  color: white;
  background-color: black;
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 0.5s;
}

.custom-get-btn:hover {
  border: 1px solid black;
  color: black;
  background-color: transparent;
}

/* myorder css */

/* recharge css */

.recharge-container {
  margin-top: 150px;
}

/* recharge css */

/* me css */

@media (max-width:430px) {
  .footer-list {
    display: flex;
    gap: 60px !important;
  }
}